<div class="slide" data-slide>
	<div class="slide__wrap about">
		<div class="clouds">
			<svg class="clouds__elem _one" data-about-clouds><use xlink:href="#icon-cloud"></use></svg>
			<svg class="clouds__elem _two" data-about-clouds><use xlink:href="#icon-cloud"></use></svg>
			<svg class="clouds__elem _three" data-about-clouds><use xlink:href="#icon-cloud"></use></svg>
			<svg class="clouds__elem _four" data-about-clouds><use xlink:href="#icon-cloud"></use></svg>
		</div>
		<img src="media/img/petr.png" class="about__petr" alt="">
		<div class="about__text" data-about-text>
			Санкт-Петербург – город, где хотят побывать больше всего россиян
		</div>
		<div class="about__like" data-about-like>
			<svg class="about__heart"><use xlink:href="#icon-heart"></use></svg>
			Среди городов, где они были, россиянам больше всего нравится Санкт-Петербург
		</div>
		<div class="about__circle">
			<div class="about__arc">
				<svg id="about-arc" width="240" height="240" data-about-path></svg>
			</div>
			<div class="about__statistic" data-about-circle>
				<div class="about__elem">
					<div class="about__persent _positive">
						87<span class="about__caret">%</span>
					</div>
					жителей довольны условиями жизни в городе
				</div>
				<div class="about__elem">
					<div class="about__persent _negative">
						12<span class="about__caret">%</span>
					</div>
					жителей  недовольны условиями жизни в городе
				</div>
			</div>
		</div>
		<div class="about__bottom"></div>
		<div class="slide__social-wrap">
			<svg class="slide__social" data-share="vk" data-share-image="http://sborkaproject.com/demo/piter/media/img/spb-bg.png" title="Поделиться с друзьями в Вконтакте"><use xlink:href="#icon-vk"></use></svg>
			<svg class="slide__social _fb" data-share="fb" data-share-image="http://sborkaproject.com/demo/piter/media/img/spb-bg.png" title="Поделиться с друзьями в Фэйсбуке"><use xlink:href="#icon-fb"></use></svg>
		</div>
	</div>
</div>