<div class="slide" data-slide>
	<div class="slide__wrap area">
		<div class="clouds">
			<svg class="clouds__elem _one" data-area-clouds><use xlink:href="#icon-cloud"></use></svg>
			<svg class="clouds__elem _two" data-area-clouds><use xlink:href="#icon-cloud"></use></svg>
			<svg class="clouds__elem _three" data-area-clouds><use xlink:href="#icon-cloud"></use></svg>
			<svg class="clouds__elem _four" data-area-clouds><use xlink:href="#icon-cloud"></use></svg>
		</div>
		<div class="area__arc">
			<svg id="area-arc" width="370" height="410" data-area-arc></svg>
		</div>
		<img src="media/img/house.png" class="area__house" data-area-house alt="">
		<div class="area__car-wrap">
			<img src="media/img/car.png" class="area__car" data-area-car alt="">
		</div>

		<div class="area__total" data-area-total>
			<div class="area__persent _positive">
				69<span class="area__caret">%</span>
			</div>
			устраивает положение дел с транспортом в их районе
			<div class="area__persent _negative _total">
				20<span class="area__caret">%</span>
			</div>
			не устраивает
		</div>

		<div class="area__security-wrap">
			<div class="area__security">
				<div class="area__indicator" data-area-flower>
					<svg class="area__elem"><use xlink:href="#icon-flower"></use></svg>
					<svg class="area__elem"><use xlink:href="#icon-flower"></use></svg>
					<svg class="area__elem"><use xlink:href="#icon-flower"></use></svg>
					<svg class="area__elem"><use xlink:href="#icon-flower"></use></svg>
					<svg class="area__elem"><use xlink:href="#icon-flower"></use></svg>
					<svg class="area__elem"><use xlink:href="#icon-flower"></use></svg>
					<svg class="area__elem"><use xlink:href="#icon-flower"></use></svg>
				</div>
				<div class="area__text" data-area-safe>
					<div class="area__persent _positive _security">
						73<span class="area__caret">%</span>
					</div>
					петербуржцев считают свой район безопасным
				</div>
			</div>
			<div class="area__security">
				<div class="area__indicator" data-area-gun>
					<svg class="area__elem _gun"><use xlink:href="#icon-gun"></use></svg>
					<svg class="area__elem _gun"><use xlink:href="#icon-gun"></use></svg>
				</div>
				<div class="area__text" data-area-unsafe>
					<div class="area__persent _negative _security">
						20<span class="area__caret">%</span>
					</div>
					петербуржцев считают свой район опасным
				</div>
			</div>
		</div>

		<div class="area__bottom">
			<div class="area__half _left" >
				<div data-area-positive>
					<div class="area__persent _positive _bottom">
						86<span class="area__caret">%</span>
					</div>
					<div class="area__desc _left">
						считают что в их районе достаточно магазинов, аптек и других торговых точек
					</div>
				</div>
			</div>
			<div class="area__half _right">
				<div data-area-negative>
					<div class="area__persent _negative _bottom _left">
						14<span class="area__caret">%</span>
					</div>
					<div class="area__desc _right">
						жалуются на нехватку в своем районе магазинов, аптек и других торговых точек
					</div>
				</div>
			</div>
		</div>
		
		<div class="slide__social-wrap">
			<svg class="slide__social" data-share="vk" data-share-image="http://sborkaproject.com/demo/piter/media/img/spb-bg.png" title="Поделиться с друзьями в Вконтакте"><use xlink:href="#icon-vk"></use></svg>
			<svg class="slide__social _fb" data-share="fb" data-share-image="http://sborkaproject.com/demo/piter/media/img/spb-bg.png" title="Поделиться с друзьями в Фэйсбуке"><use xlink:href="#icon-fb"></use></svg>
		</div>
	</div>
</div>