<div class="slide" data-slide>
	<div class="slide__wrap culture">
		<div class="clouds">
			<svg class="clouds__elem _one" data-culture-clouds><use xlink:href="#icon-cloud"></use></svg>
			<svg class="clouds__elem _two" data-culture-clouds><use xlink:href="#icon-cloud"></use></svg>
			<svg class="clouds__elem _three" data-culture-clouds><use xlink:href="#icon-cloud"></use></svg>
			<svg class="clouds__elem _four" data-culture-clouds><use xlink:href="#icon-cloud"></use></svg>
		</div>
		<img src="media/img/sobor.png" class="culture__bg" alt="" data-culture-church>
		<!-- <svg class="culture__arc" data-culture-arc><use xlink:href="#icon-culture-arc" ></use></svg> -->
		<div class="culture__arc">
			<svg id="culture-arc" width="215" height="232" data-culture-arc></svg>
		</div>

		<div class="culture__positive">
			<div class="culture__top" data-culture-positive>
				<div class="culture__persent _positive">59<span class="culture__caret">%</span></div>
				петербуржцев считают, что в их районе достаточно мест для проведения свободного времени
			</div>

			<div class="culture__like-wrap" data-culture-like>
				<svg class="culture__like"><use xlink:href="#icon-like"></use></svg>
				Жители Петербурга больше всего любят свой город<br>за его архитектуру и широкие возможности для досуга
			</div>

			<div class="culture__list" data-culture-positive-list>
				<div class="culture__elem _first">«богатый культурными событиями город»</div>
				<div class="culture__elem _second">«все под рукой: театры, кино, музеи»</div>
				<div class="culture__elem _third">«город-музей под открытым небом»</div>
			</div>
		</div>
		<div class="culture__negative">
			<div class="culture__top _negative" data-culture-negative>
				<div class="culture__persent _negative">36<span class="culture__caret">%</span></div>
				петербуржцев считают, что в их<br>районе недостаточно мест для досуга
				<div class="culture__sub" data-culture-sub>
					<div class="culture__persent _negative _sub">
						45<span class="culture__caret">%</span>
					</div>
					молодых петербуржцев считают, что в их районе недостаточно мест для досуга
				</div>
			</div>

			<div class="culture__like-wrap _dislike" data-culture-dislike>
				<svg class="culture__dislike"><use xlink:href="#icon-dislike"></use></svg>
				Жителей Петербурга больше всего раздражают в городе транспортные проблемы, мигранты  и неблагоустроенность 
			</div>

			<div class="culture__list _negative" data-culture-negative-list>
				<div class="culture__elem _fourth">«дорожные ситуации, вечный ремонт дорог»</div>
				<div class="culture__elem _fifth">«большое переселение из разных республик»</div>
				<div class="culture__elem _sixth">«плохие условия для инвалидов, мало хороших детских площадок, узкие тротуары»</div>
			</div>
		</div>

		<div class="culture__bottom"></div>
		
		<div class="slide__social-wrap _culture">
			<svg class="slide__social" data-share="vk" data-share-image="http://sborkaproject.com/demo/piter/media/img/spb-bg.png" title="Поделиться с друзьями в Вконтакте"><use xlink:href="#icon-vk"></use></svg>
			<svg class="slide__social _fb" data-share="fb" data-share-image="http://sborkaproject.com/demo/piter/media/img/spb-bg.png" title="Поделиться с друзьями в Фэйсбуке"><use xlink:href="#icon-fb"></use></svg>
		</div>
	</div>
</div>