<div class="slide" data-slide>
	<div class="slide__wrap start">
		<div data-end-info>
			<svg class="start__logo _end"><use xlink:href="#icon-fom"></use></svg>
			<div class="start__title _end">Санкт-Петербург</div>
			<div class="start__desc">интерактивная инфографика</div>
			<div class="start__wrap">
				<svg class="start__social" data-share="vk" data-share-image="http://sborkaproject.com/demo/piter/media/img/spb-bg.png" title="Поделиться с друзьями в Вконтакте"><use xlink:href="#icon-vk"></use></svg>
				<svg class="start__social" data-share="fb" data-share-image="http://sborkaproject.com/demo/piter/media/img/spb-bg.png" title="Поделиться с друзьями в Фэйсбуке"><use xlink:href="#icon-fb"></use></svg>
			</div>
		</div>
		<div class="start__text" data-end-text>
			<span class="start__subtitle">Источник данных</span><br>
			«ТелеФОМ» – телефонный опрос жителей Санкт-Петербурга 18 лет и старше по случайной выборке номеров мобильных и стационарных телефонов. 28 августа 2015. 1000 респондентов.<br>
			«ФОМнибус» – опрос граждан РФ 18 лет и старше. 11 августа 2013. 43 субъекта РФ, 100 населенных пунктов, 1500 респондентов. Интервью по месту жительства.
		</div>
	</div>
</div>