<div class="slide" data-slide>
	<div class="slide__wrap sport">
		<div class="clouds">
			<svg class="clouds__elem _one" data-sport-clouds><use xlink:href="#icon-cloud"></use></svg>
			<svg class="clouds__elem _two" data-sport-clouds><use xlink:href="#icon-cloud"></use></svg>
			<svg class="clouds__elem _three" data-sport-clouds><use xlink:href="#icon-cloud"></use></svg>
			<svg class="clouds__elem _four" data-sport-clouds><use xlink:href="#icon-cloud"></use></svg>
		</div>
		<img src="media/img/stadium.png" class="sport__stadium" alt="" data-sport-stadium>
		<img src="media/img/bench.png" class="sport__bench" alt="" data-sport-bench>
		<div class="sport__text" data-sport-text>
			Чтобы сделать жизнь в районе более комфортной, по мнению петербуржцев, надо в первую очередь решать дорожно-транспортные проблемы и благоустраивать территории
		</div>
		<div class="sport__list" data-sport-list>
			<div class="sport__elem _first">«разгрузить от пробок»</div>
			<div class="sport__elem _second">«метро провести поближе»</div>
			<div class="sport__elem _third">«больше зелени, нет парков, создавать, обустроить велодорожки»</div>
			<div class="sport__elem _fourth">«должно быть больше скамеек,<br>пожилым людям негде посидеть»</div>
		</div>
		<div class="sport__statistic" data-sport-stat>
			<div class="sport__wrap">
				<div data-sport-balls>
					<svg class="sport__ball"><use xlink:href="#icon-ball"></use></svg>
					<svg class="sport__ball"><use xlink:href="#icon-ball"></use></svg>
					<svg class="sport__ball"><use xlink:href="#icon-ball"></use></svg>
					<svg class="sport__ball"><use xlink:href="#icon-ball"></use></svg>
					<svg class="sport__ball"><use xlink:href="#icon-ball"></use></svg>
					<svg class="sport__ball"><use xlink:href="#icon-ball"></use></svg>
				</div>
				<div class="sport__positive">
					<div class="sport__persent _positive _stat">
						71<span class="sport__caret">%</span>
					</div>
					жителей Петербурга говорят,<br>что в их районе – хорошие<br>условия для занятий спортом
				</div>
			</div>
			<div class="sport__wrap">
				<div data-sport-balls>
					<svg class="sport__ball _deflated"><use xlink:href="#icon-deflated-ball"></use></svg>
					<svg class="sport__ball _deflated"><use xlink:href="#icon-deflated-ball"></use></svg>
				</div>
				<div class="sport__negative">
					<div class="sport__persent _negative _stat">
						23<span class="sport__caret">%</span>
					</div>
					жителей Петербурга говорят, что в их районе – плохие условия для занятий спортом
				</div>
			</div>
		</div>
		<div class="sport__bottom">
			<svg class="sport__human"><use xlink:href="#icon-human"></use></svg>
			<div class="sport__half _left">
				<div data-sport-negative>
					<div class="sport__persent _negative _right">
						64<span class="sport__caret">%</span>
					</div>
					<div class="sport__desc">
						считают, что следует ограничить въезд в город представителей некоторых национальностей
					</div>
				</div>
			</div>
			<div class="sport__half _right">
				<div data-sport-positive>
					<div class="sport__persent _positive _left">
						28<span class="sport__caret">%</span>
					</div>
					<div class="sport__desc">
						уверены, что не следует ограничивать въезд в город представителей некоторых национальностей
					</div>
				</div>
			</div>
		</div>
		
		<div class="slide__social-wrap">
			<svg class="slide__social" data-share="vk" data-share-image="http://sborkaproject.com/demo/piter/media/img/spb-bg.png" title="Поделиться с друзьями в Вконтакте"><use xlink:href="#icon-vk"></use></svg>
			<svg class="slide__social _fb" data-share="fb" data-share-image="http://sborkaproject.com/demo/piter/media/img/spb-bg.png" title="Поделиться с друзьями в Фэйсбуке"><use xlink:href="#icon-fb"></use></svg>
		</div>
	</div>
</div>