<div class="slide" data-slide>
	<div class="slide__wrap start">
		<div data-start>
			<svg class="start__logo"><use xlink:href="#icon-fom"></use></svg>
			<div class="start__title">Санкт-Петербург</div>
			<div class="start__desc">интерактивная инфографика</div>
			<div class="start__wrap">
				<svg class="start__social" data-share="vk" data-share-image="http://sborkaproject.com/demo/piter/media/img/spb-bg.png" title="Поделиться с друзьями в Вконтакте"><use xlink:href="#icon-vk"></use></svg>
				<svg class="start__social" data-share="fb" data-share-image="http://sborkaproject.com/demo/piter/media/img/spb-bg.png" title="Поделиться с друзьями в Фэйсбуке"><use xlink:href="#icon-fb"></use></svg>
			</div>
		</div>
	</div>
</div>