.about
	&__petr
		position: absolute
		bottom: 50px
		right: 0
	&__text
		position: relative
		margin: 70px 0 0 20px
		width: 280px
		font-size: 16px
	&__like
		position: relative
		width: 320px
		padding-top: 5px
		font-size: 12px
	&__heart
		float: left
		margin-left: 32px
		margin-right: 10px
		width: 35px
		height: 31px
	&__circle
		position: relative
		margin: 43px 0 0 35px
		width: 240px
		height: 240px
		+box
	&__arc
		position: absolute
		left: 1px
		top: 0
		width: 240px
		height: 240px
		z-index: 10
	&__statistic
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-40%, -50%)
	&__elem
		margin-bottom: 10px
		width: 130px
		font-size: 10px
		&:last-child
			margin-bottom: 0
	&__persent
		font-size: 38px
		line-height: 26px
		+box
		&._positive
			color: #61ccaf
		&._negative
			color: #de5575
	&__caret
		font-size: 20px
	&__bottom
		position: absolute
		bottom: 0
		width: 100%
		height: 48px
		border: 1px solid #000