.area
	&__arc
		position: absolute
		top: -10px
		left: -15px
		width: 220px
		height: 260px
		transform: rotate(-5deg)
	&__house
		position: absolute
		right: 0
		bottom: 49px
	&__car-wrap
		position: absolute
		bottom: 49px
		left: 22px
		width: 100%
		height: 50px
		overflow: hidden
	&__car
		position: absolute
		left: 0
		bottom: 0
	&__total
		position: relative
		margin: 48px 0 0 82px
		width: 160px
		font-size: 12px
	&__persent
		font-size: 44px
		line-height: 28px
		&._positive
			color: #61ccaf
		&._negative
			color: #de5575
		&._total
			padding-top: 10px
		&._security
			float: left
			margin-right: 6px
		&._bottom
			float: right
			line-height: 48px
		&._left
			float: left
			padding-left: 14px
	&__caret
		font-size: 24px
	&__security-wrap
		position: absolute
		right: -48px
		top: 21px
		z-index: 10
	&__security
		display: block
		margin-bottom: 10px
	&__indicator
		position: relative
		display: inline-block
		width: 220px
		padding-top: 5px
		margin-right: 15px
		vertical-align: top
		text-align: right
	&__elem
		display: inline-block
		vertical-align: top
		margin-right: 6px
		width: 24px
		height: 24px
		&._gun
			width: 26px
			height: 19px
	&__text
		position: relative
		display: inline-block
		width: 230px
		vertical-align: top
		font-size: 12px
	&__bottom
		position: absolute
		bottom: 0
		right: -22px
		width: 100%
		height: 50px
		border: 1px solid #000
		+box
		// &:before, &:after
		// 	+b
		// 	top: -100px
		// 	width: 120px
		// 	height: 120px
		// 	background-color: #fff
		// 	z-index: 30
		// &:before
		// 	right: -121px
		// &:after
		// 	left: -121px
	&__half
		position: relative
		display: inline-block
		vertical-align: top
		font-size: 11px
		overflow: hidden
		+box
		&._left
			text-align: right
			width: 56%
		&._right
			width: 44%
	&__desc
		width: 250px
		padding-top: 9px
		&._left
			float: right
			padding-right: 5px
		&._right
			float: left
			padding-left: 5px
			width: 240px
			+box