.banner
	width: 100%
	height: 440px
	overflow: hidden
	background: #fff url('../img/banner-bg.png') no-repeat bottom 60px left
	text-align: center
	&__wrap
		display: inline-block
		vertical-align: top
		margin-left: -300px
	&__logo
		display: block
		margin:  7px auto
		width: 75px
		height: 47px
	&__title
		margin-top: 100px
		font-size: 56px
		text-transform: uppercase
	&__text
		font-size: 20px
		line-height: 15px
	&__link
		display: inline-block
		margin-top: 130px
		font-size: 20px