.culture
	&__bg
		position: absolute
		bottom: 20px
		left: 50%
		transform: translate(-50%)
		z-index: 20
	&__arc
		position: absolute
		top: 0
		left: calc(50% - 117px)
		width: 215px
		height: 232px
		z-index: 10
	&__positive, &__negative
		position: absolute
		width: 50%
	&__positive
		left: 0
	&__negative
		right: 0
	&__top
		position: relative
		margin: 52px 0 0 28px
		width: 200px
		text-align: right
		font-size: 12px
		line-height: 14px
		&._negative
			margin: 52px 0 0 145px
			width: 230px
			text-align: left
	&__sub
		position: relative
		padding-top: 8px
		margin-left: 53px
		width: 300px
		font-style: italic
	&__persent
		font-size: 44px
		color: #61ccaf
		line-height: 25px
		&._negative
			color: #e94c71
		&._sub
			float: left
			padding-top: 1px
			margin-right: 5px
			font-size: 29px
			font-style: normal
			.culture__caret
				font-size: 16px
	&__caret
		font-size: 24px
	&__like-wrap
		position: relative
		margin: 76px 0 0 -145px
		width: 380px
		font-size: 12px
		text-align: right
		&._dislike
			width: 400px
			margin: 54px 0 0 125px
			text-align: left
	&__like
		float: right
		width: 40px
		height: 36px
		margin-top: -10px
		margin-left: 17px
	&__dislike
		float: left
		width: 39px
		height: 34px
		margin-top: 5px
		margin-right: 15px
	&__list
		position: relative
		margin-top: 13px
		&._negative
			margin-top: 5px
			margin-left: 208px
			.culture__elem
				width: 280px
				padding-left: 5px
				padding-right: 0
				text-align: left
				&:after
					left: -20px
					right: auto
					top: 4px
	&__elem
		position: relative
		width: 250px
		margin-bottom: 4px
		padding-right: 5px
		font-size: 12px
		font-style: italic
		text-align: right
		&:after
			+b
			width: 17px
			height: 14px
			top: 2px
			right: -20px
			background: url('../img/baloon.svg') no-repeat
			background-size: cover
		&._first
			margin-left: -113px
		&._second
			margin-left: -147px
		&._third
			margin-left: -185px
		&._fifth
			margin-left: 46px
		&._sixth
			margin-left: 97px
	&__bottom
		position: absolute
		bottom: -27px
		width: 100%
		height: 46px
		border: 1px solid #000