.sport
	&__stadium
		position: absolute
		bottom: 51px
		right: 0
	&__bench
		position: absolute
		bottom: 51px
		left: 35px
	&__text
		position: relative
		width: 320px
		margin: 117px 0 0 -37px
		font-size: 13px
		line-height: 15px
	&__list
		position: relative
		margin-top: 11px
	&__elem
		position: relative
		width: 250px
		margin-bottom: 6px
		font-size: 12px
		font-style: italic
		&:before
			+b
			left: -25px
			top: 5px
			width: 17px
			height: 14px
			background: url('../img/baloon.svg') no-repeat
			background-size: cover
		&._first
			margin-left: 18px
		&._second
			margin-left: 36px
		&._third
			margin-left: 48px
		&._fourth
			margin-left: 76px
	&__statistic
		position: absolute
		top: -50px
		right: -10px
		height: 270px
	&__wrap
		position: relative
		display: inline-block
		vertical-align: bottom
		width: 230px
		margin-right: 30px
		&:last-child
			margin-right: 0
	&__ball
		margin-top: 12px
		float: right
		width: 33px
		height: 33px
		clear: both
		&._deflated
			margin-top: 16px
			float: left
			width: 42px
			height: 24px
	&__positive, &__negative
		position: absolute
		font-size: 12px
		+box
	&__positive
		bottom: -10px
		left: 0
		padding-right: 35px
		text-align: right
	&__negative
		bottom: -10px
		left: 30px
		padding-left: 35px
		width: 250px
		text-align: left
	&__persent
		font-size: 44px
		line-height: 50px
		&._positive
			color: #61ccaf
		&._negative
			color: #de5575
		&._left
			float: left
			margin-left: 20px
			margin-right: 10px
		&._right
			float: right
			margin-left: 10px
		&._stat
			line-height: 20px
	&__caret
		font-size: 24px
	&__bottom
		position: absolute
		bottom: 0
		right: -23px
		width: 100%
		height: 50px
		border: 1px solid #000
	&__half
		position: relative
		display: inline-block
		overflow: hidden
		vertical-align: top
		font-size: 11px
		+box
		&._left
			width: 45%
			text-align: right
		&._right
			width: 55%
			text-align: left
	&__desc
		padding-top: 10px
	&__human
		position: absolute
		left: 45%
		top: -12px
		width: 16px
		height: 63px
		z-index: 10