.start
	width: 100%
	background: url('../img/spb-bg.png') no-repeat center bottom 35px
	//opacity: 0
	&__logo
		display: block
		margin: 30px auto 44px auto
		width: 93px
		height: 47px
		&._end
			margin: 122px auto 0 auto
	&__title
		font-size: 70px
		text-transform: uppercase
		text-align: center
		&._end
			font-size: 52px
	&__desc
		margin-top: -17px
		font-size: 20px
		text-align: center
	&__wrap
		margin: auto
		padding-top: 23px
		overflow: hidden
		width: 100px
		text-align: center
	&__social
		display: inline-block
		vertical-align: top
		width: 40px
		height: 40px
		cursor: pointer
		margin: 0 2px
	&__text
		position: absolute
		bottom: -40px
		left: 50%
		width: 610px
		transform: translate(-50%)
		font-size: 13px
		text-align: center
		line-height: 16px
	&__subtitle
		font-size: 14px
		font-weight: bold