.slide
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	font-size: 0
	overflow: hidden
	+box
	&__wrap
		position: absolute
		height: 510px
		min-width: 760px
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		+box
	&__social-wrap
		position: absolute
		bottom: -40px
		right: 0
		&._culture
			bottom: -65px
	&__social
		display: inline-block
		vertical-align: top
		width: 30px
		height: 30px
		cursor: pointer
		&._fb
			margin-left: 10px

.arrow
	position: absolute
	left: 50%
	width: 26px
	height: 26px
	transform: translate(-50%)
	border: 1px solid #000
	cursor: pointer
	z-index: 20
	+br(50%)
	&:after
		+b
		width: 55px
		height: 55px
		top: -15px
		left: -15px
	&._up
		top: 35px
	&._down
		bottom: 35px
	&__elem
		position: absolute
		top: 45%
		left: 50%
		transform: translate(-50%, -50%)
		width: 16px
		height: 9px
		&._down
			top: 55%
			transform: translate(-50%, -50%) rotate(180deg)

.clouds
	position: absolute
	width: 100%
	height: 100%
	overflow: hidden
	z-index: -1
	&__elem
		position: absolute
		width: 76px
		height: 38px
		&._one
			top: 80px
		&._two
			top: 280px
		&._three
			top: 160px
		&._four
			top: 0px
