*
	padding: 0
	margin: 0

html, body
	width: 100%
	height: 100%
	-webkit-text-size-adjust: 100%
	-webkit-font-smoothing: antialiased
	cursor: default
	overflow: hidden

html
	&._loading
		body
			&:after
				@extend %spinner
				position: fixed
				top: 50%
				left: 50%
				margin-top: -8px
				margin-left: -8px
				transition: opacity 0.5s ease-in
				opacity: 1
		.slide
			opacity: 0
			&._first
				opacity: 1 

#__bs_notify__
	@extend .no-pe
	@extend .no-select
	padding: 2px!important
	font-size: 10px!important
	opacity: 0.75 

body
	font: normal #{$default-font-size}/1.4 'Open Sans', sans-serif
	color: #000
	background: #FFF

img, fieldset
	border: 0

fieldset legend
	display: none

ul, li
	list-style-type: none

img
	vertical-align: top

a
	&:link,
	&:visited,
	&:hover,
	&:active
		color: #000
		text-decoration: underline
	&:hover
		color: #333
		text-decoration: none

table
	border: 0
	border-collapse: collapse
	td
		padding: 0
		vertical-align: top

input, select, textarea
	+box

input[type=number]::-webkit-inner-spin-button
	-webkit-appearance: none
	margin: 0

input[type=number]::-webkit-outer-spin-button
	-webkit-appearance: none
	margin: 0

input[type=number]
	-moz-appearance: textfield

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration
	display: none

::selection
	background: #5f5f5f
	color: #FFFFFF
	text-shadow: none
	
::-moz-selection
	background: #5f5f5f
	color: #FFFFFF
	text-shadow: none

::-webkit-scrollbar
	width: 6px
	height: 6px
	background: #eaedf1

::-webkit-scrollbar-button
	display: none

::-webkit-scrollbar-track
	background: #eaedf1

::-webkit-scrollbar-thumb
	background: #5f5f5f

::-webkit-scrollbar-thumb:hover
	background: #333333

#__bs_notify__
	padding: 2px !important
	font-size: 10px !important
	opacity: 0.75
	user-select: none
	pointer-events: none