//= templates/head.html
<body>
	<div class="banner">
		<div class="banner__wrap">
			<div class="banner__title">Санкт-Петербург</div>
			<div class="banner__text">интерактивная инфографика</div>
			<svg class="banner__logo"><use xlink:href="#icon-fom"></use></svg>
			<a href="#" class="banner__link">Перейти к материалу</a>
		</div>
	</div>

	<script src="media/js/main.js"></script>
</body>
</html>
