//= templates/head.html
<body>
	<div class="arrow _up" data-slide-up>
		<svg class="arrow__elem"><use xlink:href="#icon-arrow-up"></use></svg>
	</div>
	<div class="arrow _down" data-slide-down>
		<svg class="arrow__elem _down"><use xlink:href="#icon-arrow-up"></use></svg>
	</div>
	//= templates/start.html
	//= templates/about.html
	//= templates/culture.html
	//= templates/area.html
	//= templates/sport.html
	//= templates/end.html

	<script src="media/js/main.js"></script>
	
</body>
</html>
